
// Brand
$brand-primary     : #617d8a;
$brand-color-teal  : #8ad1da;

// Base Link
$link-base   : #1cafc1;
$link-hover  : darken($link-base, 15%);

// Site
$base-color  : #333;

$contrast    : #FFFFFF;
$bg-grey     : #f6f6f6;
$medium-grey : #7a7a7a;
$jet         : #000000;

// States
$error       : #FF4642;